.game-logo {

}

#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}

#hangman {
  text-align: center;
}

.endgame {
  width: 500px;
  height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -175px;
}

#winner, #loser {
  display: none;
}

.visible {
  display: block !important;
}

.resp {
  width: 100%;
  height: auto;
}
