* {
  /* border : 1px solid red; */
  font-size : 12px;
}

.game-logo {

}

#start-game-button {
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}

#hangman {
  text-align: center;
  font-size: 20px;
}
