.game-logo {

}
body {
  width: 100%;
}
#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}

#hangman {
  text-align: center;
}

canvas { 
/*   height: 100vh; */
  height: 400px;
  /* width: 100vw;*/
  width: 100% ;
  display: block;
}
ul li {
  list-style-type: none;
}
p {
 
  height:30px;
}
.line-in-line {
  display: flex;
  justify-content: row;
  
}
.line-in-line li {
  margin-left:20px;
}
 .position-lines {
  position: relative;
  top: 0;
  left: 20px;
  
} 

.wrong-letters-position {
  position: relative;
  width: 80%;
  top: 0;
  left:80px;
}