.game-logo {
width:500px;
height: 100px;
}

#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 5px;
}

#hangman {
  text-align: center;
  border: solid red;
}
#result {
  display: flex;
  justify-content: center;
}
/*
#container {
  display: flex;
  justify-content: space-around;
}*/
