.game-logo {

}

#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}

#hangman {
  text-align: center;
}

canvas { 
  height: 100vh; 
  width: 100vw; 
  display: block;
}
ul li {
  list-style-type: none;
}
p {
  border: 2px red solid;
  height:30px;
}